

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="style.css" rel="stylesheet">

    <title>
        Atualizar Cadastro de Pessoa Física - Dados pessoais -
        NEL Mobile
    </title>
</head>

<body class="">

    <header id="titulos">

        <h1>
            Atualizar Cadastro de Pessoa Física
        </h1>
        <h2>Dados pessoais</h2>
    </header>

    <section id="conteudo">
        <!-- In?cio do conteudo -->
        <div id="DFormulario" class="target target-visible">
            <form role="form" name="Frm" id="Frm" class="form-block" action="cad_cnt_dig_04_m.asp" method="post" onsubmit="saveData()">
                <table class="table table-form">
                    </tr>
                    <tr>
                        <th><label for="nomeSocial">Como gostaria de ser chamado?</label></th>
                        <td><input type="text" class="uppercase" maxlength="40" id="NomeSocial" name="NomeSocial" /></td>
                    </tr>
                    <tr>
                        <th><label for="Celular">Celular</label></th>
                        <td><input type="tel" class="input-telefone-saque-cartao" id="Celular" name="Celular" /></td>
                    </tr>
                    </tr>
                    <tr>
                        <th><label for="CelularConfirmacao">Confirma&ccedil;&atilde;o de celular</label></th>
                        <td><input type="tel" class="input-telefone-saque-cartao" id="CelularConfirmacao" name="CelularConfirmacao" /></td>
                    </tr>
                    </tr>
                    <tr>
                        <th><label for="Email">E-mail</label></th>
                        <td><input type="text" class="input-email" id="Email" name="Email" /></td>
                    </tr>
                    </tr>
                    <tr>
                        <th><label for="Email">Confirma&ccedil;&atilde;o de e-mail</label></th>
                        <td><input type="text" class="input-email" id="EmailConfirmacao" name="EmailConfirmacao" /></td>
                    </tr>

                </table>
                <footer>
                    <a type="submit" class="btn btn-avancar" href="preencher3.html">
                        Continuar
                    </a>
                </footer>


                <input type="hidden" name="mCPF" value="025.439.163-00" />


                <input type="hidden" name="mNome" value="00xasxasas" />


                <input type="hidden" name="mSexo" value="Masculino" />


                <input type="hidden" name="mDataNascimento" value="09/12/1986" />


                <input type="hidden" name="mNomeMae" value="sxscascas" />

            </form>
        </div>
        <!-- Final da #DFormulario -->
        <!-- Final do conteudo -->
    </section>

    <script type="text/javascript" charset="utf-8" src="js/scripts.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/cad_cnt_dig_03_m.min.js"></script>

</body>
</html>
