
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="style.css" rel="stylesheet">

    <title>Cadastro Pessoa Jurídica - NEL Mobile</title>
</head>

<body>
    <header id="titulos">
        <h1>Cadastro Pessoa Jurídica</h1>
    </header>

    <section id="conteudo">
        <!-- Início do conteudo -->
        <h2>Dados do Cliente</h2>
        <table class="table row">
            <tr>
                <th><label>CNPJ</label></th>
                <td>123.123.123-12</td>
            </tr>
            <tr>
                <th><label>Razão Social</label></th>
                <td>Empresa TESTE</td>
            </tr>
            <tr>
                <th><label>Nome Fantasia</label></th>
                <td>Empresa TESTE123</td>
            </tr>
            <tr>
                <th><label>Data de Constituição</label></th>
                <td>01/01/2017</td>
            </tr>
            <tr>
                <th><label>Telefone</label></th>
                <td>(99) 99999-9999</td>
            </tr>
            <tr>
                <th><label>Email</label></th>
                <td>empresa@email.com</td>
            </tr>
            <tr>
                <th>Situação Operacional</th>
                <td>Em implantação</td>
            </tr>
            <tr>
                <th>Nº de Empregados</th>
                <td>5</td>
            </tr>
            <tr>
                <th>Participa de Grupo Econômico? </th>
                <td>Sim</td>
            </tr>
            <tr>
                <th><h2>Dados do Controlador</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Nome</label></th>
                <td>Controlador Teste</td>
            </tr>
            <tr>
                <th><label>CNPJ</label></th>
                <td>34.948.684/0001-70</td>
            </tr>
            <tr>
                <th><h2>Endereço da Sede</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Logradouro</label></th>
                <td>Avenida Teste</td>
            </tr>
            <tr>
                <th><label>Número</label></th>
                <td>123</td>
            </tr>
            <tr>
                <th><label>Complemento</label></th>
                <td>Salas 10-12</td>
            </tr>
            <tr>
                <th><label>Bairro</label></th>
                <td>Passaré</td>
            </tr>
            <tr>
                <th><label>Cidade</label></th>
                <td>Fortaleza</td>
            </tr>
            <tr>
                <th><label>UF</label></th>
                <td>CE</td>
            </tr>
            <tr>
                <th><label>CEP</label></th>
                <td>60000-000</td>
            </tr>
        </table>
        <table style="width:100%;margin-top:10px;margin-bottom:10px">
            <tr>
                <td align="left"><h2>Sócios</h2></td>
                <td align="right"></td>
            </tr>
        </table>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Sócio 001</td>
                    </tr>
                    <tr>
                        <th>CPF/CNPJ</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Percentual Participação</th>
                        <td>60%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Sócio 002</td>
                    </tr>
                    <tr>
                        <th>CPF/CNPJ</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Percentual Participação</th>
                        <td>20%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Sócio 003</td>
                    </tr>
                    <tr>
                        <th>CPF/CNPJ</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Percentual Participação</th>
                        <td>45%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table style="width:100%;margin-top:10px;margin-bottom:10px">
            <tr>
                <td align="left"><h2>Diretores</h2></td>
                <td align="right"></td>
            </tr>
        </table>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Diretor 001</td>
                    </tr>
                    <tr>
                        <th>CPF</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Cargo</th>
                        <td>Diretor Financeiro</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Diretor 002</td>
                    </tr>
                    <tr>
                        <th>CPF</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Cargo</th>
                        <td>Diretor Marketing</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>Nome Diretor 003</td>
                    </tr>
                    <tr>
                        <th>CPF</th>
                        <td>123.456.987-00</td>
                    </tr>
                    <tr>
                        <th>Cargo</th>
                        <td>Diretor Lojistica</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table row">
            <tr>
                <th align="left"><h2>Documentos Constitutivos</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Documento</label></th>
                <td>(Contrato social) DOC_GERAL.JPG</td>
            </tr>
        </table>


        <table class="table row">
            <tr>
                <th align="left"><h2>Documentos Fiscais</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Documento</label></th>
                <td>(Declaração de Débitos) DOC_GERAL.JPG</td>
            </tr>
        </table>


        <table class="table row">
            <tr>
                <th align="left"><h2>Comprovante de endereço</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Documento</label></th>
                <td>(Documentos constitutivos) DOC_GERAL.JPG</td>
            </tr>
        </table>


        <table class="table row">
            <tr>
                <th align="left"><h2>Demonstrações Contábeis</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Documento</label></th>
                <td>(Balanço patrimonial) DOC_GERAL.JPG</td>
            </tr>

        </table>


        <div id="voltar">
            <a class="btn btn-vermelho row" href="/MobilePJ/preencher/4">Voltar</a>
            <a class="btn btn-vermelho pull-right" href="#">&nbsp;&nbsp;Salvar&nbsp;&nbsp;</a>
        </div>
        <!-- Final do conteudo -->
    </section>


    <script type="text/javascript" charset="utf-8" src="http://d001nee01/InternetBankingpo/mobile20/js/scripts.min.js"></script>

</body>
</html>