<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="style.css" rel="stylesheet">

    <title>Cadastro Pessoa Jurídica - NEL Mobile</title>
</head>

<body>
    <header id="titulos">
        <h1>Atualizar Cadastro de Pessoa Jurídica</h1>
    </header>

    <section id="conteudo">
        <table class="table row">
            <tr>
                <th><h2>Endereço da Sede</h2></th>
                <td></td>
            </tr>
            <tr>
                <th><label>Logradouro</label></th>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <th><label>Número</label></th>
                <td><input type="number" value="" /></td>
            </tr>
            <tr>
                <th><label>Complemento</label></th>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <th><label>Bairro</label></th>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <th><label>Cidade</label></th>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <th><label>UF</label></th>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <th><label>CEP</label></th>
                <td><input type="text" value="" /></td>
            </tr>
        </table>
        
        <div id="voltar">
            <a class="btn btn-vermelho row" href="preencher2.html">Voltar</a>
            <a class="btn btn-vermelho pull-right" href="preencher3.html">&nbsp;&nbsp;Continuar&nbsp;&nbsp;</a>
        </div>
        <!-- Final do conteudo -->
    </section>


    <script type="text/javascript" charset="utf-8" src="http://d001nee01/InternetBankingpo/mobile20/js/scripts.min.js"></script>

</body>
</html>