<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="style.css" rel="stylesheet">

    <title>Cadastro Pessoa Jurídica - NEL Mobile</title>
</head>

<body>
    <header id="titulos">
        <h1>Atualizar Cadastro de Pessoa Jurídica</h1>
    </header>

    <section id="conteudo">
        <table class="table row">
            <tr>
                <th align="left" width="50%"><h2>Documentos Constitutivos</h2></th>
                <td></td>
            </tr>
            <tr>
                <th>
                    Tipo de Documento
                </th>
                <td>
                    <select style="width:100%">
                        <option>Selecione</option>
                        <option>Contrato social (ou consolidação) e todos os seus aditivos</option>
                        <option>Ato de nomeação dos administradores (quando não feito pelo contrato social)</option>
                        <option>Estatuto (ou consolidação), relação dos principais acionistas da companhia, aditivos a atas de assembléia</option>
                        <option>Requerimento de empresário e suas alterações</option>
                        <option>Certificado da Condição de Microempreendedor Individual (CCMEI)</option>
                        <option>Ato constitutivo de EIRELI (ou consolidação) e todos as suas alterações </option>
                        <option>Regimento e/ou regulamento do funcionamento da pessoa jurídica, se houver </option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu">
                <span class="informacao"> 
                    Selecionar Arquivo...
                </span>
            </a>
        </div>


        <table class="table row">
            <tr>
                <th align="left" width="50%"><h2>Documentos Fiscais</h2></th>
                <td></td>
            </tr>
            <tr>
                <th>
                    Tipo de Documento
                </th>
                <td>
                    <select style="width:100%">
                        <option>Selecione</option>
                        <option>Documento de arrecadação de receitas federais - DARF</option>
                        <option>Declaração de Débitos e Créditos Tributários Federais - DCTF (quando lucro real ou presumido) </option>
                        <option>Certificado de participação no SIMPLES Nacional </option>
                        <option>Consulta eletrônica que comprove a tributação pelo SIMPLES Nacional</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu">
                <span class="informacao">
                    Selecionar Arquivo...
                </span>
            </a>
        </div>

        <table class="table row">
            <tr>
                <th align="left" width="50%"><h2>Demonstrações Contábeis</h2></th>
                <td></td>
            </tr>
            <tr>
                <th>
                    Tipo de Documento
                </th>
                <td>
                    <select style="width:100%">
                        <option>Selecione</option>
                        <option>Balanço patrimonial </option>
                        <option>Documento gerado no PGDAS-D</option>
                        <option>Extrato do Simples Nacional</option>
                        <option>Declaração Anual do Simples Nacional - DASN-SIMEI </option>
                        <option>Relatório Mensal das Receitas Brutas </option>
                        <option>DIPJ (Exercícios até 2013)</option>
                        <option>Escrituração Contábil Fiscal - ECF (Exercícios a partir de 2014)</option>
                        <option>EFD</option>
                        <option>Escrituração Contábil Digital - ECD</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu">
                <span class="informacao">
                    Selecionar Arquivo...
                </span>
            </a>
        </div>
        
        <table class="table row">
        <tr>
            <th align="left" width="50%"><h2>Comprovante de endereço</h2></th>
            <td></td>
        </tr>
        <tr>
            <th>
                Tipo de Documento
            </th>
            <td>
                <select style="width:100%">
                    <option>Selecione</option>
                    <option>Documentos constitutivos</option>
                    <option>Comprovante de inscrição e o de situação cadastral do CNPJ emitido pela Secretaria da Receita Federal do Brasil</option>
                </select>
            </td>
        </tr>
        </table>
        <div class="btn-menu-principal-set" style="margin-bottom: 10px;">
            <a class="btn btn-menu">
                <span class="informacao">
                    Selecionar Arquivo...
                </span>
            </a>
        </div>


        <div id="voltar">
            <a class="btn btn-vermelho row" href="preencher3.html">Voltar</a>
            <a class="btn btn-vermelho pull-right" href="confirmar5.html">&nbsp;&nbsp;Continuar&nbsp;&nbsp;</a>
        </div>
        <!-- Final do conteudo -->
    </section>


    <script type="text/javascript" charset="utf-8" src="http://d001nee01/InternetBankingpo/mobile20/js/scripts.min.js"></script>

</body>
</html>