<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="style.css" rel="stylesheet">

    <title>Cadastro Pessoa Jurídica - NEL Mobile</title>
</head>

<body>
    <header id="titulos">
        <h1>Atualizar Cadastro de Pessoa Jurídica</h1>
    </header>

    <section id="conteudo">
        <table style="width:100%;margin-top:10px;margin-bottom:10px">
            <tr>
                <td align="left"><h2>Sócios</h2></td>
                <td align="right"><button class="btn btn-avancar">Adicionar Sócio</button></td>
            </tr>
        </table>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_socio1.html'">
                <span class="informacao">Nome Sócio 001</span><br />
                CPF/CNPJ: <span class="informacao">123.456.987-00</span><br />
                Percentual de participação: <span class="informacao">60%</span>
            </a>
        </div>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_socio1.html'">
                <span class="informacao">Nome Sócio 002</span><br />
                CPF/CNPJ: <span class="informacao">678.456.987-00</span><br />
                Percentual de participação: <span class="informacao">20%</span>
            </a>
        </div>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_socio1.html'">
                <span class="informacao">Nome Sócio 005</span><br />
                CPF/CNPJ: <span class="informacao">678.456.987-00</span><br />
                Percentual de participação: <span class="informacao">45%</span>
            </a>
        </div>
        <table style="width:100%;margin-top:10px;margin-bottom:10px">
            <tr>
                <td align="left"><h2>Diretores</h2></td>
                <td align="right"><button class="btn btn-avancar">Adicionar Diretor</button></td>
            </tr>
        </table>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_diretor1.html'">
                <span class="informacao">Nome Diretor 001</span><br />
                CPF: <span class="informacao">123.456.987-00</span><br />
                Cargo: <span class="informacao">Diretor Financeiro</span>
            </a>
        </div>
        <div class="btn-menu-principal-set">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_diretor1.html'">
                <span class="informacao">Nome Diretor 002</span><br />
                CPF: <span class="informacao">123.456.987-00</span><br />
                Cargo: <span class="informacao">Diretor de Marketing</span>
            </a>
        </div>
        <div class="btn-menu-principal-set" style="margin-bottom: 10px;">
            <a class="btn btn-menu" onclick="document.location='cadastro_pessoa_juridica_diretor1.html'">
                <span class="informacao">Nome Diretor 005</span><br />
                CPF: <span class="informacao">123.456.987-00</span><br />
                Cargo: <span class="informacao">Diretor Lojistica</span>
            </a>
        </div>
        <div id="voltar">
            <a class="btn btn-vermelho row" href="preencher2.html">Voltar</a>
            <a class="btn btn-vermelho pull-right" href="preencher4.html">&nbsp;&nbsp;Continuar&nbsp;&nbsp;</a>
        </div>
        <!-- Final do conteudo -->
    </section>


    <script type="text/javascript" charset="utf-8" src="http://d001nee01/InternetBankingpo/mobile20/js/scripts.min.js"></script>

</body>
</html>